<% div_for movimento do %>
	<p>
	  <b>Tipo:</b>
	  <%=h movimento.tipo.nome %>
	</p>

	<p>
	  <b>Dia:</b>
	  <%=h movimento.dia %>
	</p>

	<p>
	  <b>Descricao:</b>
	  <%=h movimento.descricao %>
	</p>

	<p>
	  <b>Valor:</b>
	  <%=h movimento.valor %>
	</p>
<% end %>